*.pyc
**/.DS_Store
*.log
/doc/book
*.a
*.o
setup_complete
build
install
log
*zig_compiler*
*zig-cache*
*zig-out*
*.o
*.a
*.vscode*
*.python-version*
*nav2_mppi_controller*
*nav2_core*
*zig-linux*
*zig-linux-x86_64-0.14.0-dev.2063+5ce17ecfa*
*zig-linux-aarch64-0.14.0-dev.2647+5322459a0*
*__pycache__*